
body {
    font-family: 'Righteous', cursive;
    color: rgba(10, 24, 10, 0.79);
    background-color: #babaae
}

.bg-light{
    background-color: #babaae !important;
}

.navbar-light .navbar-brand {
    color: rgba(37, 37, 142, 0.9);
    font-family: 'Impact', sans-serif;
    text-shadow: 1px 1px rgba(101, 113, 101, 0.667);
    
}
.navbar-light .navbar-brand i {
    font-family: Helvetica, sans-serif;
}

#tetris {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 0;
}

.crystal {
    display: inline-block;
    margin-bottom:10px;
    filter: grayscale(95%);
    cursor: pointer;
}
#inst {
    font-size: 14px;
    margin: 20px 0;
}
.container {
    background-color: rgba(158, 176, 131, 0.858);
}

#number {
    margin-bottom: 20px;
}

#navTetris {
    font-size: 1.5rem;
    font-weight:bolder;
}

